extends ../template

block varibles
    - var title = "Main"

block content
   
    .content
        include ../common/header.pug

        section.sect1
            .wrapper
                .sect1__content
                    
                    .sect1__titleblock
                        span Your daily email marketing routine will change for the better overnight!
                          
                    .sect1__button
                        a(href="https://digitalcontact.com/request-a-demo/?main").button.button_main REQUEST A DEMO
                    

        //--video(controls="controls" loop="loop" autoplay="autoplay" muted="muted" src="")
            //-- <iframe width="560" height="315" src="https://www.youtube.com/embed/1ieQD20Cs0o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


        section.sect2.sect_none_bg
            .wrapper
                .block
                    .block__title
                        .title AI-Driven Email Marketing Personalization
                    .block__content
                        .block__left
                            .custom_pagin
                                ul.swiper-pagination.swiper-pagination1
                            .block_button
                                a(href="https://digitalcontact.com/request-a-demo/?main").button Personalize
                            

                        .block__right
                            .slider_content
                                .swiper-container.swiper-container1
                                    .swiper-wrapper
                                        .swiper-slide
                                            video(id="video_11" controls="controls" loop="loop" muted="muted" src="./images/video/Profile 360.mp4")
                                        
                                        .swiper-slide
                                            video(id="video_12" controls="controls" loop="loop"  muted="muted" src="./images/video/AI_OfferSuggestion.mp4")
                                        
                                        .swiper-slide
                                            video(id="video_13" controls="controls" loop="loop"  muted="muted" src="./images/video/AI_OfferSuggestion.mp4")
                                        
                                        .swiper-slide
                                            video(id="video_14" controls="controls" loop="loop"  muted="muted" src="./images/video/AI_OfferSuggestion.mp4")
                                       
                                .bgr

                            //- .swiper-paginat
                            //-     .p
                            //-     .p
                            //-     .p
                            //-     .p
                                    

        section.sect3.sect_bg
            .wrapper
                .block
                    .block__title
                        .title Advanced Journeys Management

                    .block__content

                        .block__left
                            .slider_content
                                .swiper-container.swiper-container2
                                    .swiper-wrapper
                                        .swiper-slide
                                            video(id="video_21" controls="controls" loop="loop"  muted="muted" src="./images/video/Customer_Journey.mp4")
                                        
                                        .swiper-slide
                                            video(id="video_22" controls="controls" loop="loop"  muted="muted" src="./images/video/Customer_Journey.mp4")
                                        
                                        .swiper-slide
                                            video(id="video_23" controls="controls" loop="loop" muted="muted" src="./images/video/Customer_Journey.mp4")
                                        
                                        .swiper-slide
                                            video(id="video_24" controls="controls" loop="loop" muted="muted" src="./images/video/Customer_Journey.mp4")
                                .bgr

                            
                            

                        .block__right
                            .custom_pagin
                                ul.swiper-pagination.swiper-pagination2
                            .block_button
                                a(href="https://digitalcontact.com/request-a-demo/?main").button Automate

        section.sect4.sect_none_bg
            .wrapper
                .block
                    .block__title
                        .title Exclusive Email-Sending Toolbox
                    .block__content
                        .block__left
                            .custom_pagin
                                ul.swiper-pagination.swiper-pagination3
                            .block_button
                                a(href="https://digitalcontact.com/request-a-demo/?main").button Send
                            

                        .block__right
                            .slider_content
                                .swiper-container.swiper-container3
                                    .swiper-wrapper
                                        .swiper-wrapper
                                        .swiper-slide
                                            video(id="video_31" controls="controls" loop="loop" autoplay="autoplay" muted="muted" src="./images/video/ESP_Advanced.mp4")
                                        
                                        .swiper-slide
                                            video(id="video_32" controls="controls" loop="loop" autoplay="autoplay" muted="muted" src="./images/video/ESP_Advanced.mp4")
                                        
                                        .swiper-slide
                                            video(id="video_33" controls="controls" loop="loop" autoplay="autoplay" muted="muted" src="./images/video/ESP_Advanced.mp4")
                                        
                                        .swiper-slide
                                            video(id="video_34" controls="controls" loop="loop" autoplay="autoplay" muted="muted" src="./images/video/ESP_Advanced.mp4")

                                        .swiper-slide
                                            video(id="video_35" controls="controls" loop="loop" autoplay="autoplay" muted="muted" src="./images/video/ESP_Advanced.mp4")
                                .bgr
                                    

        section.sect5.sect_bg
            .wrapper
                .block
                    .block__title
                        .title Comprehensive Analytics

                    .block__content

                        .block__left
                            .slider_content
                                .swiper-container.swiper-container4
                                    .swiper-wrapper
                                        .swiper-wrapper
                                        .swiper-slide
                                            video(id="video_41" controls="controls" loop="loop" autoplay="autoplay" muted="muted" src="./images/video/Campaigns_report.mp4")
                                        
                                        .swiper-slide
                                            video(id="video_42" controls="controls" loop="loop" autoplay="autoplay" muted="muted" src="./images/video/Rails_Filter.mp4")
                                        
                                        .swiper-slide
                                            video(id="video_43" controls="controls" loop="loop" autoplay="autoplay" muted="muted" src="./images/video/Params.mp4")
                                        
                                        

                                        
                                .bgr

                            
                            

                        .block__right
                            .custom_pagin
                                ul.swiper-pagination.swiper-pagination4
                            .block_button
                                a(href="https://digitalcontact.com/request-a-demo/?main").button Analyze 

                
       

        section.last
            .wrapper
                .last__title
                    span.title.title_white Digital Contact
                .last__subtitle
                    span Quickest way to new customers and improved profitability
                .last__button
                    a(href="#").button.button_white
                        span FIND OUT MORE
                        img(src="./images/arrow_r.png", alt="")

        footer.footer
            .wrapper
                .footer__content
                    .footer__top
                        .footer__left
                            .icn
                                a(href="#")
                                    img(style="margin-top: 5px;" src="./images/vk-social-network-logo.svg", alt="")
                            .icn
                                a(href="#")
                                    img(style="margin-top: 2px;" src="./images/facebook-logo.svg", alt="")
                            .icn
                                a(href="#")
                                    img(style="margin-top: 4px;" src="./images/youtube.svg", alt="")
                        .footer__right  
                            a(href="tel:+74952413192")
                                span +7 (495) 
                                | 241-31-92
                            span  С 9:00 до 19:00 по Москве
                    .footer__midle
                        span Защита персональных данных 152-Ф3
                        span АнтиСпам соглашение
                        span Политика конфиденциальности
                        span Условия использования сервиса
                        span Обработка персональных данных
                    .footer__bottom
                        span &#169; 2008-2019 Digital Contact
