.block{
    &__content{
        display: flex;
    }

}


@media screen and (max-width:769px){
    .block{
        &__content{
            flex-wrap: wrap;
        }

        &__left, &__right{
            width: 100% !important;
        }

        .block_button{
            display: flex;
            justify-content: center;
            padding: 0;
        }
    }
}

