.last{
    background-image: url(../images/main2.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: rem(101) 0 rem(119) 0;
    

    &__subtitle{
        display: flex;
        justify-content: center;
        margin: rem(40) 0 rem(52) 0;
        span{
            color: $white;
        }
    }

    &__button{
        display: flex;
        justify-content: center;
    }
}

