.sect_none_bg{
    padding: rem(140) 0 rem(200) 0;

    .block__left{
        padding-right: rem(53);
        .block_button{
            padding-left: 15px;
        }
    }

    .slider_content{
        .bgr{
            right: rem(28);
            bottom: rem(-22);
        }
    }

    .block{
        &__left{
            width: 40%;
        }
    
        &__right{
            width: 60%;
        }
    }
}


@media screen and (max-width:769px){
    .sect_none_bg{
        padding: 40px 0 70px 0;

        .block{
            &__content{
                flex-direction: column-reverse;
            }
    
            &__right{
                margin-bottom: 50px;
            }
    
            &__left{
                padding: 0;
            }
        }
    }
 
}