.sect_bg{
    background-color: $bg_color;
    padding: rem(140) 0 rem(200) 0;

    .block__right{
        padding-left: rem(45);
    }

    .block_button{
        display: flex;
        justify-content: flex-end;
    }

    .slider_content{
        .bgr{
            left: rem(28);
            bottom: rem(-22);
        }
    }

    .block{
        &__left{
            width: 60%;
        }
    
        &__right{
            width: 40%;
        }
    }
}

@media screen and (max-width:769px){
    .sect_bg{
        padding: 40px 0 70px 0;

        .block{
            &__left{
                margin-bottom: 50px;
            }

            &__right{
                padding: 0;
            }
        }
    }
}