.sect_bg{
    background-color: $bg_color;
    padding: rem(140) 0 rem(200) 0;

    .block__right{
        padding-left: rem(45);
    }

    .block_button{
        display: flex;
        justify-content: flex-end;
    }

    .slider_content{
        .bgr{
            left: rem(28);
            bottom: rem(-22);
        }
    }
}